<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style/main.css">
    
    <title>{%block title%}{%endblock%}</title>
 
</head>
<body>

    <div class="container">
   <header >
    <nav class="navbar navbar-expand-sm bg-light">

        <!-- Links -->
        {%if user.is_authenticated%}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'Home'%}">Home</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="{%url 'log-in'%}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'sign-up'%}">Sign up</a>
          </li>-->

          <li class="nav-item">
            <a class="nav-link" href="{%url 'log-out'%}">Logout</a>
          </li>

          <li class="nav-item">
          <a class="nav-link" href="">{{user.username}}</a>
          </li>
        
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'Home'%}">Home</a>
        </li>
         
          <li class="nav-item">
            <a class="nav-link" href="{%url 'sign-up'%}">Sign up</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{%url 'log-out'%}">Logout</a>
          </li>
        </ul>
      {%endif%}
      </nav>
   </header>
       <div class="container">
        {%block body%}
         

         
        {%endblock%}
      
      </div>
    
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>