{%extends 'accounts/base.html'%}
{% load crispy_forms_tags %}

{%block title%} Sign up{%endblock%}

{%block body%}
<br>
<form method="POST">
    {%csrf_token%}
    {{form|crispy}}
    <button type="submit">Sign up</button>
</form>
<p>Do you have an account ? <a href="{%url 'log-in'%}">Login</a></p>

{%endblock%}
