{%extends 'accounts/base.html'%}
{% load crispy_forms_tags %}
{%block title%}BestPinion{%endblock title%}



{%block body%}
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Vero facere eligendi odio ipsa. Quam nulla facere molestias, maiores 
    fugit quod, ipsam nihil asperiores ut expedita porro sed? Perspiciatis, 
    fugit fuga. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
     Minus enim alias iusto, vitae quas porro, saepe nesciunt quidem quos 
     neque repudiandae recusandae. Dolorum aperiam provident officiis,
     animi odit neque? Repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Tempora, vitae atque veniam iure in qui similique dicta, vero alias 
      blanditiis voluptatem optio repellat odio quis pariatur praesentium sed facere fugiat?</p>
{%if user.is_authenticated%}
</br>
<form method="POST">
    {%csrf_token%}
    {{form|crispy}}
    <button type="submit">Search</button>
</form>

{%endif%}

{%endblock%}